body {
    background-color: lightsteelblue;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.name p {    
    font-size: 15vw;
    text-transform: uppercase;
    color: tomato;
    margin: 0 auto;
    padding: 0;
}

.name_input input[type="text"] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15vw;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
    max-width: 95vw;
	background-color: Moccasin;
}

ul {
    list-style-type: none;
}